# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS bestanden
.DS_Store
Thumbs.db
Python/image_stacking

# Local personal code (not shared)
Python_kopiën/